body {
  background-color: #111;
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
}


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}


.container {
  background-color: #222; 
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white; 
  justify-content: center;
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent; 
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 660px;
  background-color: #222; 
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white; 
}


input {
  width: 60%; 
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

input:focus {
  outline: none;
  background-color: #444; 
}

/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* CSS de regalo */
/*
.container {
  width: 660px;
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
}

/* Estilos para cada una de las box */
/*
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  color: white;
}

/* Estilos para el input */
/*
input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

*/



